altgraph==0.17.2
sentry_sdk==1.5.8
astroid==2.8.4
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.4
docutils==0.18
future==0.18.2
getmac==0.8.2
idna==3.3
isort==5.9.3
Kivy==2.0.0
Kivy-Garden==0.1.4
kivymd==0.104.2
lazy-object-proxy==1.6.0
mccabe==0.6.1
pefile==2021.9.3
Pillow==9.0.1
platformdirs==2.4.0
pyenchant==3.2.2
Pygments==2.10.0
pyinstaller==4.6
pyinstaller-hooks-contrib==2021.3
pylint==2.11.1
pynput==1.7.4
requests==2.26.0
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
wincertstore==0.2
wrapt==1.13.3
pyobjc==7.3